name: CI for windows by xmake

on:
  push:
    branches: [ "*" ]
    paths-ignore:
      - '**/*.md'
      - 'docs/*'
  pull_request:
    branches: [ "*" ]
  workflow_dispatch:

jobs:
  build:
    name: Build (${{ matrix.kind }})
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        kind: [shared, static]
    steps:
    - uses: actions/checkout@v2
    - name: setup xmake
      uses: xmake-io/github-action-setup-xmake@v1
      with:
      # The version to use. Should be a semver range or 'latest'. Or use branch@{branch_name} to select a branch.
        xmake-version: latest
    - name: Configure
      run: xmake f -m debug -k ${{ matrix.kind }} -y
    - name: Build
      run: xmake -y
    - name: Run Test
      run: xmake test -v