name: CI for windows by xmake

on:
  push:
    branches: [ "*" ]
    paths-ignore:
      - '**/*.md'
      - 'docs/*'
  pull_request:
    branches: [ "*" ]
  workflow_dispatch:

jobs:
  build:
    name: Build ${{ matrix.toolchain }} | ${{ matrix.mode }} | ${{ matrix.kind }}
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        kind: [shared, static]
        mode: [debug, release]
        toolchain: [msvc, clang-cl]

    steps:
    - uses: actions/checkout@v4
    
    - name: setup xmake
      uses: xmake-io/github-action-setup-xmake@v1
      with:
        xmake-version: latest
        
    - name: Configure
      run: xmake f -m ${{ matrix.mode }} -k ${{ matrix.kind }} --toolchain=${{ matrix.toolchain }} --dev=y -y
      
    - name: Build
      run: xmake -y
      
    - name: Run Test
      run: xmake test -v
