name: CI for linux by xmake

on:
  push:
    branches: [ "main", "master" ]
    paths-ignore:
      - '**/*.md'
      - 'docs/*'
  pull_request:
    branches: [ "*" ]
  workflow_dispatch:

jobs:
  build:
    name: Build ${{ matrix.toolchain }} ${{ matrix.mode }} ${{ matrix.backend }} ${{ matrix.kind }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        toolchain: [gcc, clang]
        mode: [release, coverage]
        backend: [epoll, io_uring]
        kind: [shared, static]

    steps:
    - uses: actions/checkout@v4

    - name: setup xmake
      uses: xmake-io/github-action-setup-xmake@v1
      with:
        xmake-version: latest

    - name: Update apt
      if: matrix.mode == 'coverage'
      run: |
        sudo apt update -y
        sudo apt install -y lcov

    - name: Install io_uring
      if: matrix.backend == 'io_uring'
      run: |
        sudo apt install -y liburing-dev

    - name: Install clang
      if: matrix.toolchain == 'clang'
      run: |
        wget https://apt.llvm.org/llvm.sh -o ~/Downloads/llvm.sh
        chmod +x ~/Downloads/llvm.sh
        sudo ~/Downloads/llvm.sh 21
        sudo update-alternatives --install /usr/bin/clang++ clang++ /usr/bin/clang++-21 100
        sudo update-alternatives --install /usr/bin/clang   clang   /usr/bin/clang-21   100

    - name: Configure
      run: |
        CONFIG_ARGS=""
        if [ "${{ matrix.backend }}" == "io_uring" ]; then
          CONFIG_ARGS="--io_uring=y"
        fi
        
        echo "Configuring with: -m ${{ matrix.mode }} -k ${{ matrix.kind }} --toolchain=${{ matrix.toolchain }} $CONFIG_ARGS"
        
        xmake f -m ${{ matrix.mode }} -k ${{ matrix.kind }} --toolchain=${{ matrix.toolchain }} $CONFIG_ARGS --dev=y -y

    - name: Build
      run: xmake -y

    - name: Run Test
      run: xmake test -v

    - name: Upload coverage to Codecov
      if: matrix.mode == 'coverage'
      uses: codecov/codecov-action@v4
      with:
        verbose: true
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}